NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
GEMINI_MIN_REQUEST_INTERVAL_MS=15000
GEMINI_MAX_RETRIES=3

GOOGLE_SHEET_ID=1E-2aCQh4UJY6itQwdMEbdZjYR072M8Fz-nr3fU78gCg
GOOGLE_SHEET_NAME=シート1
